spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://config-server:8888/
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
resilience4j:
  circuitbreaker:
    instances:
      userServiceCB:
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG